html{
    font-family: Verdana;
    background: black;
}
h1{
    text-align: center;
    color:orange;
}
p{
    text-align: left;
    color:white;
}
h3{
    text-align: left;
    color: orange;
}
h2{
    text-align: left;
    color: orange;
}
article{
    color: white;
}
a:link{
    color: green;
}
a:visited{
    color: black;
}
a:hover{
    color: lightblue
}
a:active{
    color: green;
}

